@using System.IO;
@using WhatsappServer.Models;
@model IEnumerable<Rating>

<h1 class=align-center>Rating List</h1>


<div  id=listRating>
<a asp-controller="Rating" asp-action="AddRating" class="btn btn-primary">Add Rating</a>
<form asp-action="RatingList" method="post">
    <input name="query" id="search">
    <input type="submit" value="Search"/>
</form>

<div id="tbodyid" class="list-group list-group-flush scroll">     

@foreach (Rating rating in Model) 
{
            <div class="list-group-item list-group-item-action d-flex align-items-center">
            <span class="m-2 ms-3 content">
                <div class='name'>@rating.UserName | @Html.DisplayNameFor(model => model.Rate): @rating.Rate</div>
            <div>
                <p class="disciption"> @Html.DisplayNameFor(model => model.Review): @rating.Review </p>
                </div>
            </span> 
            
           <span class='showRating'> <a asp-controller="Rating" asp-action="RatingItem" asp-route-ID=@rating.ID class="btn btn-primary">Show Rating</a> </span>
            </div>
}

</div>
</div>
@section Scripts {
<script src="~/js/search.js"></script>
}

